          <div class="text-center text-muted default-border-color dayindicator">{{display_day_of_week(rel_date)}}</div>
          <div class="text-right text-muted dateindicator" style="padding-right:4px;"><small>{{display_month_day(rel_date)}}</small></div>
