// Place all the styles related to the UserItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ui-datepicker div.ui-datepicker-buttonpane button.ui-datepicker-current {
    font-weight: bold;
    opacity: 1;
    filter:Alpha(Opacity=100);
}
.today {
  background-color: #FCFFD8;
}
div.tab-pane img {
  padding: 2px 2px;
}
div.tab-content {
  min-height: 36px;
}
form.streakalong-edit input {
  font-weight: normal;
  text-align: center;
  background-color: transparent;
  border-color: #cccccc;
  border-width: 1px;
}
.items {
  cursor: move;
  z-index: 1;
}
div.daydata-active {
  background-color: #fdffeb;
}
div.datebox {
  min-height: 180px;
  border-top-style: solid;
  border-top-width: 4px;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  padding: 0px;
}
div.dateindicator {
  background-color: #c4f7ed;
}
div.default-border-color {
  border-color: #6ad4b0;
}
div.leftdatebox {
  border-left-style: solid;
  border-left-width: 4px;
}
div.rightdatebox {
  border-right-style: solid;
  border-right-width: 4px;
}
div.centerdatebox {
  border-left-style: solid;
  border-left-width: 2px;
  border-right-style: solid;
  border-right-width: 2px;
}
div.dayindicator {
  border-bottom-style: solid;
  border-bottom-width: 4px;
}
.makepointer {
  cursor: pointer;
}
button.calendar-nav {
  cursor: pointer;
}
button.ui-datepicker-trigger {
  border: none;
  height: 24px;
  width: 24px;
  cursor: pointer;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAAZiS0dEAL8A8QDgf9jfJQAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB94FHBUvMW/g6WQAAAPdSURBVEjHrZW/bxxFFMc/M/vzFseX2CQOFiGisJDoaOn5W9JQISREgwSIgi4RBUhIaVwEiQ7JtBS0VhRERSSU2CjK+ZKLfb7b2x8z8x7Fnp34/AMJeKunnZ2dfd/9ft+bN4aXZoCY/8c8oCwEfOvLP395nNuYLIrJbMzxeP6cRTFehCZ4GnHUwdOIpxbfzQVPLY4v3v3gbRyPAewrAFdAu0sV9OVYVREVWvF4FUQV0aPVoEdjMxfCsnoU9FUGpgsGokpACSoEFK8BBOwc1KsQCAQ6YEVO/MxcbgPoCc27wIJgCCp4NVgJAAQDloAaunciBBGCaueiCIKonEjGCYCgMv/YYhGsMSABVcVai8V0cqF4ERwBJ6EDm4OEjsHZAF4FK4K1AaOAgBoQo1gVjOlqQ+iC+SMAFbyGuaQXMRChkpbqP9SnAbIoo6E5DfDpG+8HVCNjDMZarDGYcxw4vi/ad/E5AMYYRBUVQUPg4OCAS8vLTA4PSdMUYwx1XdPv9xkOh9y4cYO9vT1WVlY4/P0Kyes1a+8k50tkjOkSO/fXlpbo5TmokmUZIQSKoiBJEq5du0aSJFy+fJmiKOBNJeunLJKyi/q1bctoNAJVqqqirmvatqUsS7z3jEYjQgiMx2NEhMlkQtM01IcwHbenZLOLDDCGJEkwxhBHEXmeA9Dr9QBYXl4GIM9zjDGkaUqWZRgMvV5+Kh/2ZAl0Qb33Xd1bi4iQpilt25KmKSJCkiR474miiGi+PlkOtDK7GMAArXOICCJCVXUFO5lMMMYwnU7x3lPXNc45nHOUZdlJtRuhVYr3/uIkF70edk59ZWWFOI65evUqAEtLS7RteyxXFEX0+31EhEsbJRI52jZh3qr1tERAVVWMRiOccwyHQ5xzDAYDyrJkf3+f58+fM51OGQwGzGYznj17xmQy4eCPnHJg2NnZ+att2/JMBgBFUZDnOUmSsL6+TpZlrK+vE8fxcbdUVdbW1ggh0DQNs9mM3hXHeDra/+rrzz+u6/rxuUmuqoqHDx/inGNnZ4fpdMqTJ094+vQpL168YHd3lxAC1trjTbexsUFjxrNvv//mk62trZ+B+uwcAGmacvPmTeI45vr16xRFwerqKr1eD+fccdmKCGU5oyh6PHr0qL579+5nm5ubPwLT8/rUe7PZzFdVpU3TaNu26pxT77167zWEoCEEretax+Ox7u3t6YMHv+n9+/fHt27d+rA7EU/bvz7kVZW6roZ37tz56N69ez8Bk38CmG5vb/+gEJlXOuXi1hcRQgh47/3t27c3t7a2foXzO7xZAMvPmD+TwNxrIFy08G8P0Xuth8UsRwAAAABJRU5ErkJggg==) no-repeat center center;
}
.daydata-items {
  cursor: move;
}
div.daydata-container {
  padding: 1px;
  position: relative;
  float: left;
  top: 0;
  width: 34px;
  height: 42px;
}
div.count {
    font-family: verdana,arial,san-serif;
    font-size: 8px;
    height: 8px;
}
div.streak-error {
  min-height: 40px;
  margin-bottom: 5px;
  padding: 5px;
}
div.streak-error p {
  padding: 5px;
  margin: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
