body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

div#main {
  min-height: 960px;
  width: 100%;
  background: #7db9e8;
  background: -moz-radial-gradient(center, ellipse cover,  #7db9e8 0%, #65a1d4 25%, #428bca 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#7db9e8), color-stop(25%,#65a1d4), color-stop(100%,#428bca));
  background: -webkit-radial-gradient(center, ellipse cover,  #7db9e8 0%,#65a1d4 25%,#428bca 100%);
  background: -o-radial-gradient(center, ellipse cover,  #7db9e8 0%,#65a1d4 25%,#428bca 100%);
  background: -ms-radial-gradient(center, ellipse cover,  #7db9e8 0%,#65a1d4 25%,#428bca 100%);
  background: radial-gradient(ellipse at center,  #7db9e8 0%,#65a1d4 25%,#428bca 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#428bca',GradientType=1 );
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
