// Place all the styles related to the UserItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.tab-pane img {
  padding: 2px 2px;
}
div.tab-content {
  min-height: 36px;
}
.items {
  cursor: move;
}
div.datebox {
  height: 100px;
  border-top-style: solid;
  border-top-width: 4px;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  padding: 0px;
}
div.dateindicator {
  background-color: #c4f7ed;
}
div.default-border-color {
  border-color: #6ad4b0;
}
div.leftdatebox {
  border-left-style: solid;
  border-left-width: 4px;
}
div.rightdatebox {
  border-right-style: solid;
  border-right-width: 4px;
}
div.centerdatebox {
  border-left-style: solid;
  border-left-width: 2px;
  border-right-style: solid;
  border-right-width: 2px;
}
div.dayindicator {
  border-bottom-style: solid;
  border-bottom-width: 4px;
}
button.calendar-nav {
  border: none;
  height: 24px;
  width: 16px;
  cursor: pointer;
}
button.calendar-nav-left {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAXEgAAFxIBZ5/SUgAAAAd0SU1FB9kCGAIsIWBUZMkAAAAddEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIFRoZSBHSU1Q72QlbgAAAQZJREFUOMulk81Kw1AQhb+b1paSuJDGZteCtCLxBdSNiOC2vkahXRd8mUKfQHApLlwKpcsqWhCkXRhTfzDB/qS57oJBMeH2LGc4H2dmGCGllCQokCHXr4/cvD+xa1jULTvqZZPMH8GUzqjHgz8BwJn56QF33gudUQ9vOY9qIfHAfwJCKblwbrl0h0j+n/AX4G3xRXfc5953SaMYYOA5dMd9PoMZaRUBriZDzp8HhMlHiUkDcOe+kjkCrCINwMzpnFo2mhDqCY6LVRrlPdazefURbKNEe+uQbd1U38HGWoFW5YATs4ZAqC1RE4K6ZdOs7GNkcupX2DE2OaseUdOLPwzxVGLVd/4GfXRhKWWOpRwAAAAASUVORK5CYII=) no-repeat center center;
}
button.calendar-nav-right {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAXEgAAFxIBZ5/SUgAAAAd0SU1FB9kCGAItL573eI8AAAAddEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIFRoZSBHSU1Q72QlbgAAARZJREFUOMud009Kw0AUx/Hv1LEqifinsS5aBEVFuyyFLsWFS8ETFHoDTyG4VvAaFlwJIm7UCziILULdRVO6MEFsTcZNjUaxTfJbDTPzPjM8eEJrrRmkYSvuXJvq7BJb88tIkWFUxE9gX53R1z4Aa0aOerHCjJwcCkSeCAgtml6Hg9Yl9+5LfOB3XL/HcfuGhq0Ivj8aHwDQaM6dJkfta7r9t+TAVx48h8PHK5T7nA4AeP145+TplotOKx0AEGjNqa1wel46IHUPwgIh2FssYWUNAGSS4mk5Qa1QpmTmw73YwLphUSuUmRufiuyPBASCHWuV3fwmGSH+nA8FzLEs9WKFDXPh3zsy2lGBP1jHHaYIsJ1bSTzOnwxrVHnSH94aAAAAAElFTkSuQmCC) no-repeat center center;
}
button.calendar-nav-today {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAAXNSR0IArs4c6QAAAAlwSFlzAAAXEgAAFxIBZ5/SUgAAAAd0SU1FB9oEFRAcNDbTnhwAAAAddEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIFRoZSBHSU1Q72QlbgAAAYBJREFUKM+V0ksvQ0EUB/D/mbn3um09GtG0Gq3YeSSNBdEFX8BCWDWxtLBgx1ewJCQNS5/Awjew8KgFiYUd0UdaJN43qfZy7xyLVks1wlnOnN9k/nOGFs93Tanjb2W7jmZKfbV/sskmA9S4lsyktJ+db8rZuT2/s4uJcCzU0sbMRFWqoET9RGYA78rdzp9cFh9ccDJzlCs917orVQdEZCtnPX1QKFsLvfGlvvEej38rd3xdtpqDx/fXlcs9F7zcN9Fl+ADMR0b7fYG19H629NQILor3q1f7EbN9IRr3657K9SSJ2fBw3B/dyByevhTqwHLszexxoWxNB4c6dLOWkpkNIaeCA7ZytvMnZ9aNgBAAvEKbCQ0GDK8mZCVMLRUAAhEoEY4FDR+DBQBNyDF/VJL4ZWRDrcFus70KADisfp+xy9z4Sn+sfwPt01HA8G2kD37+HzDaZIv2mbAKvFKfi4zYygXzN8MAQUB06h4AAkKzXSeZSSkoanL4V8gClCs9fwAMdo7nahe1owAAAABJRU5ErkJggg==) no-repeat center center;
}
button.ui-datepicker-trigger {
  border: none;
  height: 24px;
  width: 24px;
  cursor: pointer;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAAZiS0dEAL8A8QDgf9jfJQAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB94FHBUvMW/g6WQAAAPdSURBVEjHrZW/bxxFFMc/M/vzFseX2CQOFiGisJDoaOn5W9JQISREgwSIgi4RBUhIaVwEiQ7JtBS0VhRERSSU2CjK+ZKLfb7b2x8z8x7Fnp34/AMJeKunnZ2dfd/9ft+bN4aXZoCY/8c8oCwEfOvLP395nNuYLIrJbMzxeP6cRTFehCZ4GnHUwdOIpxbfzQVPLY4v3v3gbRyPAewrAFdAu0sV9OVYVREVWvF4FUQV0aPVoEdjMxfCsnoU9FUGpgsGokpACSoEFK8BBOwc1KsQCAQ6YEVO/MxcbgPoCc27wIJgCCp4NVgJAAQDloAaunciBBGCaueiCIKonEjGCYCgMv/YYhGsMSABVcVai8V0cqF4ERwBJ6EDm4OEjsHZAF4FK4K1AaOAgBoQo1gVjOlqQ+iC+SMAFbyGuaQXMRChkpbqP9SnAbIoo6E5DfDpG+8HVCNjDMZarDGYcxw4vi/ad/E5AMYYRBUVQUPg4OCAS8vLTA4PSdMUYwx1XdPv9xkOh9y4cYO9vT1WVlY4/P0Kyes1a+8k50tkjOkSO/fXlpbo5TmokmUZIQSKoiBJEq5du0aSJFy+fJmiKOBNJeunLJKyi/q1bctoNAJVqqqirmvatqUsS7z3jEYjQgiMx2NEhMlkQtM01IcwHbenZLOLDDCGJEkwxhBHEXmeA9Dr9QBYXl4GIM9zjDGkaUqWZRgMvV5+Kh/2ZAl0Qb33Xd1bi4iQpilt25KmKSJCkiR474miiGi+PlkOtDK7GMAArXOICCJCVXUFO5lMMMYwnU7x3lPXNc45nHOUZdlJtRuhVYr3/uIkF70edk59ZWWFOI65evUqAEtLS7RteyxXFEX0+31EhEsbJRI52jZh3qr1tERAVVWMRiOccwyHQ5xzDAYDyrJkf3+f58+fM51OGQwGzGYznj17xmQy4eCPnHJg2NnZ+att2/JMBgBFUZDnOUmSsL6+TpZlrK+vE8fxcbdUVdbW1ggh0DQNs9mM3hXHeDra/+rrzz+u6/rxuUmuqoqHDx/inGNnZ4fpdMqTJ094+vQpL168YHd3lxAC1trjTbexsUFjxrNvv//mk62trZ+B+uwcAGmacvPmTeI45vr16xRFwerqKr1eD+fccdmKCGU5oyh6PHr0qL579+5nm5ubPwLT8/rUe7PZzFdVpU3TaNu26pxT77167zWEoCEEretax+Ox7u3t6YMHv+n9+/fHt27d+rA7EU/bvz7kVZW6roZ37tz56N69ez8Bk38CmG5vb/+gEJlXOuXi1hcRQgh47/3t27c3t7a2foXzO7xZAMvPmD+TwNxrIFy08G8P0Xuth8UsRwAAAABJRU5ErkJggg==) no-repeat center center;
}
