      <input streakalong-ng-date-picker type="hidden" value="" style="z-index:2;"></input>
      <span class="text-muted" style="vertical-align:top;padding-left:5px;">{{selected_date() | date : 'MMMM dd, yyyy'}}</span>
