      <div class="navbar navbar-default" id="nav-bar">
        <ul class="nav navbar-nav">
          <li style="width:33%"><a href="/activities">activities</a></li>
          <li style="width:33%"><a href="/streaks">streaks</a></li>
          <li style="width:33%"><a href="/logout">logout</a></li>
        </ul>
      </div>
